@import "resources/assets/bootstrap/less/bootstrap.less";

body {
	padding-top: 80px;
	background: url('/img/halftone.png');
}

.table-small {
	font-size: 11px;
}

.panel-tab {
	.panel-heading {
		padding-bottom: 0px;
		.nav-tabs {
			margin-bottom: -1px;
		}
	}
}

.padding-bottom-5 {
	padding-bottom: 10px;
}

.margin-bottom-5 {
	margin-bottom: 10px;
}

.with-border {
	border-bottom: 1px solid #ddd;
}

.text-middle {
	vertical-align: middle !important;
}

.breadcrumb {
	background: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
}

.panel-footer {
	.pagination { margin: 0}
}

.form-group {
	label sup {
	    top: -0.1em;
	    left: 0.3em;
	    font-size: 1em;
	    color: #98000d;
	}
}
.table tr.bg-primary th {
	border-color: rgb(51, 122, 183)
}
.table-detail {
	font-size: 11px !important
}

.bg-primary {
	a {
		color: #ffffff;
	}
}

.bg-custom-gray {
	background: #efefef
}

.bg-custom-light-yellow {
	background: #fff9ea;
}